@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #eeeeee;
    --header-text: #1B1B1B;
    --yellow-accent: #F1BE2A;
}

body {
    background-color: var(--bg);
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    color: var(--header-text);
    font-weight: 900;
    font-size: 32px;
}

button {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #DAA520;
}

.header-buttons > button {
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 0 8px;
}

.add-notes-btn {   
    width: 150px;
    font-weight: 600;
    background-color: var(--yellow-accent);
    color: white;
}

.theme-btn {
    width: 50px;
    background-color: #D3D3D3;
}